
body{
  background-color: #efefef;
}

  :root {
    --base: #f8f8f8;
    --lightblue: #7746d3;
    --darkBlue:#634ad6;
    --green1: #58c193;
    --green2: #6dc17f;
    --yellow:#facd51;
    --orange:#e98271;
    --dark:#595282;

  }
  .yellow {
    background-color: var(--yellow);
    height: 8px;
    width: 0px;
    border-radius: 50%;
    display: inline-block;
  }
  .green {
    background-color: var(--green2);
    height: 8px;
    width: 0px;
    border-radius: 50%;
    display: inline-block;
  }
  .orange {
    background-color: var(--orange);
    height: 8px;
    width: 0px;
    border-radius: 50%;
    display: inline-block;
  }
.flex{
  text-align: center;
  width: 303px;
  float: left;
  background-color: var(--base);
  border-radius: 15px 0px 0px 15px;
  position: relative;
  top: 2px;
}
.center{
  text-align: center;
}
img {
    height: 52%;
    width: 56%;
    border-radius: 50%;
    margin-top: 11vh;
}
table, tr, td{
  border:none;
 }
 .none{
  text-align: left;
  padding: 20px 6px 55px 25px;
 }
.box-shadow{
  
  box-shadow: 0px 0px 7px 8px #d7d0d0;
  height: 80vh;
  background-color: white;
  width: 80vw;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
}

.circle{
  height: 8px;
  width: 0px;
  border-radius: 50%;
  display: inline-block;
  
  background-color: var(--yellow);
}
.float-right{
  height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: var(--green1);
    position: absolute;
    left: 96vh;
    bottom: -1vh;

}
.chBac{
  background-color: var(--base);
}
.circles{
  height: 22px;
  text-align: center;
  width: 22px;
  background-color: var(--dark);
  color: var(--base);
  border-radius: 50%;
  display: inline-block;
  font-size: 15px;
}
.margin-left{
  position: relative;
  margin-left: 54vh;
}
td {
  padding:6px 12px 6px 12px;
}
button {
  position: fixed;
  left: 50%;
  height: 6vh;
  width: 11vw;
  
  border-radius: 26px;
  color: var(--base);
  background-color: var(--darkBlue);
  margin-top: 23px;
  border: none;
}
.lft{
  margin-top: 10px;
}